[user]
    email = connesy@gmail.com
    name = Stefan Mejlgaard
    signingkey = 4E22357764FFF8B8

# General setup
[credential]
[push]
    default = simple

# Setup nice log output
[log]
    date = relative
[format]
    pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s

# Aliases 
[alias]
    ci = commit
    br = branch
    st = status
    sw = switch
    re = restore
    pf = push --force-with-lease
    rba = rebase -i --autosquash
    last = log -10 --graph
    files = show --pretty="" --name-only

# Using meld as diff and merge tool
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    trustExitCode = true
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool]
    prompt = false
[mergetool "meld"]
    trustExitCode = true
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

[core]
    autocrlf = input
[commit]
    gpgsign = true
[gpg]
    program = gpg2
[pull]
    rebase = false
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
